* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Sans-serif;
}

body {
    background-color: black;
}

#main-title {
    color: white;
    display: flex;
    justify-content: center;
}